@use "../variables.scss";
@use "../mixins.scss" as *;

.about {
  position: relative;
  padding: 56px 0 80px;
  min-height: 530px;

  @media (max-width: variables.$vp-1199) {
    padding: 15px 0 1px;
    min-height: 541px;
  }

  @media (max-width: variables.$vp-767) {
    padding: 0 0 1px;
    min-height: 400px;
  }
}

.about__background-wrapper {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;
  width: 808px;
  height: 474px;

  @media (max-width: variables.$vp-1199) {
    top: 60px;
    width: 542px;
    height: 350px;
  }

  @media (max-width: variables.$vp-767) {
    position: static;
    width: 100%;
    height: 400px;
  }
}

.about__background-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @media (max-width: variables.$vp-767) {
    object-fit: cover;
  }
}

.about__clouds-wrapper {
  position: absolute;
  top: -110px;
  right: 0;
  z-index: -1;
  width: 620px;
  height: 280px;

  @media (max-width: variables.$vp-1199) {
    display: none;
  }
}

.about__clouds-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__wrapper {
  margin: 0 0 0 615px;
  padding: 23px 0 0;

  @media (max-width: variables.$vp-1199) {
    margin: 0 0 0 408px;
    padding: 4px 0 0;
  }

  @media (max-width: variables.$vp-767) {
    margin: 0;
    padding: 7px 0 0;
  }
}

.about__wrapper h2 {
  @include section-title;

  margin: 0 0 56px;

  &::before {
    bottom: -4px;
  }

  @media (max-width: variables.$vp-1199) {
    margin-bottom: 34px;
    padding: 0 0 0 6px;

    &::before {
      bottom: 0;
      left: 4px;
    }
  }

  @media (max-width: variables.$vp-767) {
    margin-bottom: 25px;
    padding: 0;
  }
}

.about__wrapper h3 {
  @include article-head;

  margin: 0 0 17px;

  @media (max-width: variables.$vp-1199) {
    margin-bottom: 12px;
  }

  @media (max-width: variables.$vp-767) {
    margin-bottom: 13px;
  }
}


.about__wrapper p {
  margin: 0 0 28px;
  font-size: 14px;
  line-height: 22px;

  &:last-of-type {
    margin: 0;
  }

  @media (max-width: variables.$vp-1199) {
    br {
      display: none;
    }
  }

  @media (max-width: variables.$vp-767) {
    margin-bottom: 27px;
    line-height: 20px;
  }
}
