.btn {
  display: inline-flex;
  padding: 21px 20px 19px;
  justify-content: center;
  align-items: flex-start;
  font-weight: 500;
  line-height: 16px;
  background: $color-primary-1;
  color: $color-default-white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:disabled {
    background: #999999;
    pointer-events: none;
  }

  @include hover-focus {
    background: $color-default-white;
    color: $color-secondary-1;
    box-shadow: inset 1px 1px $color-secondary-1, inset -1px -1px $color-secondary-1;
    outline: none;
  }

  &:active {
    background: $color-secondary-1;
  }

  &:active:hover:focus {
    background: $color-secondary-1;
    color: $color-default-white;
    box-shadow: none;
  }
}
