@use "../variables.scss";
@use "../mixins.scss" as *;

.coach-card {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  height: 356px;
  background: variables.$color-default-white;
  border: 1px solid rgba(2, 102, 193, 0.1);

  @media (max-width: variables.$vp-1199) {
    height: 388px;
  }

  @media (max-width: variables.$vp-767) {
    height: 356px;
  }
}

.coach-card__picture-wrapper {
  width: 100%;
  height: 200px;
}

.coach-card__picture-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.coach-card__title-wrapper {
  padding: 1px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.coach-card h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  max-width: 70%;
}

.coach-card p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  max-width: 100%;

  @media (max-width: variables.$vp-1199) {
    transform: translateY(-1px);
  }
}

.coach-card__link {
  transform: translateY(-1px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: variables.$color-default-white;
  color: variables.$color-default-black;
  border: 1px solid rgba(45, 56, 63, 0.3);
  transition: all 0.2s;

  @include hover-focus {
    border-color: variables.$color-default-black;
    outline: none;
  }

  &:active {
    background: variables.$color-primary-1;
    color: variables.$color-default-white;
    border: none;
  }

  &:active:hover:focus {
    background: variables.$color-primary-1;
    color: variables.$color-default-white;
    border: none;
  }

  &--disabled {
    opacity: 0.3;
  }
}
