@use "../variables.scss";

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @media (max-width: variables.$vp-1199) {
    padding: 0 45px;
  }

  @media (max-width: variables.$vp-767) {
    padding: 0 15px;
  }
}
