@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin section-title {
  position: relative;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    opacity: 0.03;
    content: attr(data-title);
  }

  @media (max-width: $vp-1199) {
    font-size: 25px;
    line-height: 25px;

    &::before {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @media (max-width: $vp-767) {
    font-size: 22px;
    line-height: 22px;

    &::before {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

@mixin info-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

@mixin article-head {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @media (max-width: $vp-1199) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 16px;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
